@media screen and (min-width: 800px) {
  .container {
    margin: 1em 2em;
  }
}
*{
     margin: 0;
     padding-left: 0;
     box-sizing: border-box;
}
body {
     height: 100vh;
     background: -webkit-linear-gradient(
          to right,
          #acb6e5,
          #ea7cf8
          );
          background:linear-gradient(to right, #acb6e5, #ea7cf8);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
}
section{
     display: grid;
     grid-template-columns: repeat(4,8rem);
     grid-template-rows: repeat(4,8rem);
     grid-gap: 2rem;
     perspective: 800px;
}

.card {
     position: relative;
     transform-style: preserve-3d;
     transition: all 2s cubic-bezier(0.175,0.885,0.32,1.275);
     box-shadow: rgba(0,0,0,.2) 0px 5px 15px; 
     /* transform: rotateY(180deg); */

}
.face, .back {
     width: 100%;
     height: 100%;
     position: absolute;
}
.back {
     background: rgb(207, 35, 93);
     backface-visibility: hidden;
}
.toggleCard{
     transform: rotateY(180deg);
}
img {
     max-width: 100%;
   }